@charset "utf-8";
/* CSS Document */
.oly_node
{
	width:316px;
	height:177px;
	float:left;
	background:#1b1b1b;
}
.oly_node2
{
	width:316px;
	height:177px;
	float:left;
	background:#1b1b1b;
	margin:0px 26px 0px 26px;
}
.items
{
	width:292px;
	height:153px;
	margin:12px;
	background:url(rate_hm.jpg) repeat;
	text-align:center;
	vertical-align:middle;
	border:#1f1f1f 1px solid;
}
.items img
{
	border:none;
}
.team
{
	width:292px;
	height:26px;
	display:inline-block;
	color:#ef0000;
	line-height:26px;
	font-size:18px;
	text-transform:uppercase;
	font-family:myFont;
	font-stretch:wider;
}
.rate
{
	width:292px;
	height:102px;
	border-bottom:#352f12 1px dashed;
	border-top:#352f12 1px dashed;
	display:inline-block;
	line-height:102px;
	color:#ef0000;
	font-size:72px;
}
.date
{
	width:292px;
	height:26px;
	display:inline-block;
	color:#d4ab07;
	line-height:26px;
}
.versus
{
	font-size:10px;
	margin:0 35px;
}
