@charset "utf-8";
/* CSS Document */
/* The content */
#aud_content
{
	width:100%;
	display:inline-block;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	position:relative;
	z-index:2;
	bottom:10px;
}
.aud_items_box
{
	width:21.7%;
	min-height:190px;
	float:left;
	margin:0.5%;
	padding:1%;
	background:#021323;
	position:relative;
	bottom:0px;
	display:table;
	padding-bottom:20px;
}
.aud_items_box.first
{
	margin-left:1%;
}
.aud_items_box.the-end
{
	margin-right:0px;
}
/* The end */

