@charset "utf-8";
/* CSS Document */
#harmony_ 
{
	background:#fff;
	width:935px !important;;	
}
#harmony_ .inside
{
	margin:0px;	
}
#harmony_ .panel-col-first {
    float: left;
    width: 572px !important;
	background:#0f9145;
}
#harmony_ .panel-col-last {
    float: left;
    width: 363px !important;
}
takumi_ .panel-separator
{
	display:none;
}